XMLFile1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:schange:userauth:1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Session">
    <xs:complexType>
      <xs:all>
        <xs:element name="Expiration" type="xs:dateTime" />
        <xs:element name="Authentication">
          <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="3">
              <xs:element name="CustomerId" type="xs:string" />
              <xs:element name="CpeId" type="xs:string" />
              <xs:element name="ProfileId" type="xs:string" />
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>