XMLFile2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:schange:userauth:1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SeacToken">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="class" type="xs:string" use="required" />
          <xs:attribute name="expiration" type="xs:dateTime" use="required" />
          <xs:attribute name="singleUse" type="xs:boolean" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>